$all-border: 8px solid #000;
$color-border: #000;
$skin-color: #fed5b3;
$hair-color: #a3a3cd;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    height: 400px;
    background: #ccc;
    .hair {
        background: $hair-color;
        width: 376px;
        height: 356px;
        clip-path: polygon(29% 92%, 13% 94%, 20% 82%, 5% 78%, 18% 68%, 3% 53%, 18% 48%, 1% 24%, 25% 29%, 20% 0%, 45% 19%, 62% 0%, 63% 24%, 91% 18%, 80% 43%, 99% 51%, 99% 51%, 81% 61%, 94% 71%, 83% 77%, 90% 91%, 76% 91%, 77% 99%, 69% 96%);
        margin-left: 3px;
        margin-top: 2px;
        background-color: $color-border;
        &::after {
            position: absolute;
            content: '';
            width: 352px;
            height: 332px;
            background: $hair-color;
            clip-path: polygon(29% 92%, 13% 94%, 20% 82%, 5% 78%, 18% 68%, 3% 53%, 18% 48%, 1% 24%, 25% 29%, 20% 0%, 45% 19%, 62% 0%, 63% 24%, 91% 18%, 80% 43%, 99% 51%, 99% 51%, 81% 61%, 94% 71%, 83% 77%, 90% 91%, 76% 91%, 77% 99%, 69% 96%);
            margin-left: 11px;
            margin-top: 14px;
        }
    }
    .ears {
        position: absolute;
        width: 222px;
        height: 60px;
        left: 50%;
        top: 55%;
        transform: translateX(-50%);
        margin-left: -10px;
        display: flex;
        justify-content: space-between;
        .ear {
            background-color: $skin-color;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: $all-border;
        }
    }
    .head {
        position: absolute;
        width: 180px;
        height: 296px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: 30px;
        margin-left: -10px;
        .top {
            position: absolute;
            width: 100%;
            height: 50%;
            overflow: hidden;
            &::after {
                content: '';
                position: absolute;
                background: $skin-color;
                width: 180px;
                height: 296px;
                border-top-left-radius: 45% 35%;
                border-top-right-radius: 54% 35%;
                box-shadow: inset 0px 0px 0px 8px $color-border;
            }
        }
        .bottom {
            position: absolute;
            width: 100%;
            height: 50%;
            bottom: 0px;
            overflow: hidden;
            &::after {
                content: '';
                position: absolute;
                background: $skin-color;
                width: 100%;
                height: 100%;
                border-bottom-left-radius: 50% 79%;
                border-bottom-right-radius: 48% 79%;
                box-shadow: inset 0px 0px 0px 8px $color-border;
            }
        }
        .middle {
            position: absolute;
            background-color: $skin-color;
            width: 164px;
            height: 20px;
            top: 50%;
            left: 8px;
        }
    }
}