$color-border: #000;
$width-border: 6px;
$all-border: $width-border solid $color-border;
$skin-color: #fed5b3;
$hair-color: #a3a3cd;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    height: 400px;
    .hair {
        position: absolute;
        background: $hair-color;
        width: 376px;
        height: 356px;
        clip-path: polygon(29% 92%, 13% 94%, 20% 82%, 5% 78%, 18% 68%, 3% 53%, 18% 48%, 1% 24%, 25% 29%, 20% 0%, 45% 19%, 62% 0%, 63% 24%, 91% 18%, 80% 43%, 99% 51%, 99% 51%, 81% 61%, 94% 71%, 83% 77%, 90% 91%, 76% 91%, 77% 99%, 69% 96%);
        margin-left: 3px;
        margin-top: 2px;
        background-color: $color-border;
        &::before {
            position: absolute;
            content: '';
            width: 352px;
            height: 332px;
            background: $hair-color;
            clip-path: polygon(29% 92%, 13% 94%, 20% 82%, 5% 78%, 18% 68%, 3% 53%, 18% 48%, 1% 24%, 25% 29%, 20% 0%, 45% 19%, 62% 0%, 63% 24%, 91% 18%, 80% 43%, 99% 51%, 99% 51%, 81% 61%, 94% 71%, 83% 77%, 90% 91%, 76% 91%, 77% 99%, 69% 96%);
            margin-left: 11px;
            margin-top: 14px;
        }
        .risk {
            position: absolute;
            width: 55px;
            height: 4px;
            display: flex;
            justify-content: space-between;
            &:nth-child(1) {
                top: 130px;
                left: 30px;
                transform: rotate(51deg);
                div:nth-child(1) {
                    background: #000;
                    width: 30px;
                    height: 100%;
                    border-radius: 5px;
                }
                div:nth-child(2) {
                    background: #000;
                    width: 14px;
                    height: 100%;
                    border-radius: 5px;
                }
            }
            &:nth-child(2) {
                top: 79px;
                left: 76px;
                transform: rotate(79deg);
                div:nth-child(1) {
                    background: #000;
                    width: 14px;
                    height: 100%;
                    border-radius: 5px;
                }
                div:nth-child(2) {
                    background: #000;
                    width: 30px;
                    height: 100%;
                    border-radius: 5px;
                }
            }
        }
    }
    .ears {
        position: absolute;
        width: 222px;
        height: 60px;
        left: 50%;
        top: 55%;
        transform: translateX(-50%);
        margin-left: -10px;
        display: flex;
        justify-content: space-between;
        .ear {
            background-color: $skin-color;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: $all-border;
        }
    }
    .head {
        position: absolute;
        width: 180px;
        height: 296px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: 30px;
        margin-left: -10px;
        .head-internal {
            position: absolute;
            width: 180px;
            height: 296px;
            display: flex;
            flex-direction: column;
            .forehead {
                width: 100%;
                height: 45px;
                background: blue;
                z-index: 1;
                visibility: hidden;
            }
            .eyebrow {
                width: 100%;
                height: 25px;
                background: purple;
                z-index: 3;
                visibility: hidden;
            }
            .eyes {
                width: 100%;
                height: 65px;
                display: flex;
                justify-content: space-evenly;
                margin-top: 8px;
                z-index: 2;
                overflow: hidden;
                .hidden {
                    position: relative;
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                }
                .hidden-1 {
                    position: absolute;
                    left: 28px;
                    top: 55px;
                    background-color: $skin-color;
                }
                .hidden-2 {
                    position: absolute;
                    left: 108px;
                    top: 55px;
                    background-color: $skin-color;
                }
                .eye {
                    background-color: $skin-color;
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    border: 3px solid $color-border;
                    overflow: hidden;
                    .internal {
                        position: relative;
                        background-color: #fff;
                        width: 120px;
                        height: 65px;
                        border-radius: 50%;
                        margin-top: 20px;
                        left: 50%;
                        transform: translateX(-50%);
                        border-top: 3px solid $color-border;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        .circle {
                            background-color: #000;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            margin-top: -6px;
                        }
                    }
                }
            }
            .inferiorToTheEyes {
                width: 92%;
                height: 45px;
                display: flex;
                justify-content: space-evenly;
                margin-left: 50%;
                margin-top: 3px;
                transform: translateX(-50%);
                .darkCircles-1 {
                    transform: rotate(14deg);
                }
                .darkCircles-2 {
                    transform: rotate(-14deg);
                }
                .darkCircles {
                    width: 57px;
                    height: 43px;
                    border-radius: 50%;
                    border: 3px solid $color-border;
                    margin-top: -33px;
                    &::after {
                        content: '';
                        position: absolute;
                        background-color: $skin-color;
                        width: 60px;
                        height: 40px;
                        margin-top: -10px;
                        margin-left: -5px;
                    }
                }
                .nose {
                    width: 25px;
                    height: 100%;
                    border: 4px solid $color-border;
                    border-top: none;
                    border-bottom-left-radius: 48%;
                    border-bottom-right-radius: 48%;
                }
            }
            .mouth {
                width: 100%;
                height: 20px;
                display: flex;
                justify-content: center;
                overflow: hidden;
                margin-top: 25px;
                .internal {
                    background: $color-border;
                    width: 110px;
                    height: 40px;
                    border-radius: 50%;
                    div:nth-child(1),
                    div:nth-child(3) {
                        background-color: $skin-color;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }
                    div:nth-child(3) {
                        margin-left: 90px;
                        margin-top: -42px;
                    }
                    div:nth-child(2) {
                        background-color: $skin-color;
                        width: 104px;
                        height: 40px;
                        margin-left: 3px;
                        margin-top: -17px;
                        border-radius: 50%;
                    }
                }
            }
        }
        .top {
            position: absolute;
            width: 100%;
            height: 50%;
            overflow: hidden;
            &::after {
                content: '';
                position: absolute;
                background: $skin-color;
                width: 180px;
                height: 296px;
                border-top-left-radius: 45% 35%;
                border-top-right-radius: 54% 35%;
                box-shadow: inset 0px 0px 0px $width-border $color-border;
            }
        }
        .bottom {
            position: absolute;
            width: 100%;
            height: 50%;
            bottom: 0px;
            overflow: hidden;
            &::after {
                content: '';
                position: absolute;
                background: $skin-color;
                width: 100%;
                height: 100%;
                border-bottom-left-radius: 50% 79%;
                border-bottom-right-radius: 48% 79%;
                box-shadow: inset 0px 0px 0px $width-border $color-border;
            }
        }
        .middle {
            position: absolute;
            background-color: $skin-color;
            width: 168px;
            height: 20px;
            top: 50%;
            left: 6px;
        }
    }
}